body{
    margin: 0;
    align-items: center;
}
.main{
    display: grid;
    grid-template-columns: 1fr 1fr; 
    grid-template-rows: 100vh;
    width: 100%;
}
.title{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #1890f0;
}
 .container{
    background-color: #DAE0E2;
    display: grid;
    align-items: center;
    grid-template-columns: 2fr 5fr 0.5fr;
}

.title h1{
    color: #f0f0f0;
    font-size: 3em;
    font-family: sans-serif;
}

.title h1 span{
    color: #0f0f0f;
}

.container .content{
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr;
}

.container .content .cityName{
    color: 	#0f0f0f;
    font-size: 1.5em;
    font-family: sans-serif;
    margin-top: 10%;
}

.container .content .details
{
    margin-top: 4%;
    font-family: sans-serif;
}

.container .content .details .condition{
    margin-top : 1%;
    display: grid;
    grid-template-columns : 3fr 8fr;
}

.container .content .report{
 margin-top: 3%;
 display: flex;
}


.container .content .report .degree{
    font-size: 3em;
    font-family: sans-serif;
    margin-right: 10px;
}

.container .content .report .celsius{
    margin-top: 1%;
    font-size: .8em;
    color:#1890f0;
    cursor: pointer;
}

.container .content .report .or{
    margin-top: 1%;
    font-size: 1.3em;
    font-style : bold;
}

.container .content .report .farenheit{
    margin-top: 1%;
    font-size: .8em;
    cursor: pointer;
}

.container .content .inputDetails
{
    font-family: sans-serif;
    margin-top: 5%;
}

/* .container .content .inputDetails .placeholder{
    font-size: .8em;
    font-family: sans-serif;
} */

.container .content .inputDetails .input
{
margin-top : 2%;    
}

.container .content .inputDetails input
{
width: 75%;
height: 30px;
font-size: .8em; 
color: #a8a8a8;   
outline: none;
border:none;
/* border: 1px solid #1890f0; */
padding: 3.5% 2% 3.5% 2%;
z-index: -1; /* hide shadow behind image */
-webkit-box-shadow: 0 15px 20px rgba(0, 0, 0, 0.3);
-moz-box-shadow: 0 15px 20px rgba(0, 0, 0, 0.3);
box-shadow: 0 15px 20px rgba(0, 0, 0, 0.3);
}

#button1,#spinButton{
    /* visibility: hidden;   */
    margin: 1% 0% 0% -1%;
    padding: 7px 8px 8px 8px;
    background-color: #ffffff;
    font-size: 1.1em;
    border: none;
    outline: none;
    z-index: -1; /* hide shadow behind image */
-webkit-box-shadow: 0 15px 20px rgba(0, 0, 0, 0.3);
-moz-box-shadow: 0 15px 20px rgba(0, 0, 0, 0.3);
box-shadow: 0 15px 20px rgba(0, 0, 0, 0.3);
}

#button1:hover{
    color: #1890f0;
    background-color: #a8a8a8;
}

#spinButton{
    color: #1890f0;
}

#img{
    margin-top: -2%;
    height: 2rem;
} 